/* 404error.css */
body {
  background-color: #f3f3f3;
  font-family: 'Arvo', serif;
}

.mainbox {
  background-color: #95c2de;
  margin: auto;
  height: 600px;
  width: 600px;
  position: relative;
}

.err {
  color: #ffffff;
  font-size: 11rem;
  position: absolute;
  left: 20%;
  top: 8%;
}

.far {
  position: absolute;
  font-size: 8.5rem;
  left: 42%;
  top: 15%;
  color: #ffffff;
}

.err2 {
  color: #ffffff;
  font-size: 11rem;
  position: absolute;
  left: 68%;
  top: 8%;
}

.msg {
  text-align: center;
  font-size: 1.6rem;
  position: absolute;
  left: 16%;
  top: 45%;
  width: 75%;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .mainbox {
      width: 100%;
      height: auto;
  }

  .err {
      font-size: 6rem;
      left: 10%;
      top: 5%;
  }

  .far {
      font-size: 4.5rem;
      left: 35%;
      top: 10%;
  }

  .err2 {
      font-size: 6rem;
      left: 60%;
      top: 5%;
  }

  .msg {
      font-size: 1.2rem;
      left: 10%;
      top: 50%;
      width: 80%;
  }
}
