{% extends "Home.html" %}
{% block content %}
<h2>Password management</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages%}
            {% for message in messages %}
            <li class="alert alert-danger">{{message}}</li>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    {% if form.last.errors %}
        {% for error in form.last.errors %}
            <li class="alert alert-danger">{{ error }}</li>
        {% endfor %}
    {% endif %}

    {% if form.new.errors %}
        {% for error in form.new.errors %}
            <li class="alert alert-danger">{{ error }}</li>
        {% endfor %}
    {% endif %}
    {% if form.confirm.errors %}
        {% for error in form.confirm.errors %}
            <li class="alert alert-danger">{{ error }}</li>
        {% endfor %}
    {% endif %}
    

<form  action="{{url_for('user.Password')}}" method="post" novalidate>
    
    {{ form.hidden_tag() }}
    {{form.last(placeholder="Enter password", class="form-control mb-3")}}
    {{form.new(placeholder="Enter new password", class="form-control mb-3")}}
    {{form.confirm(placeholder="Confirm password", class="form-control mb-4")}}
    <div style=" margin-left: 35%;">
    <button  id="btnsign" class="form-control">change</button>
    <a style="margin-bottom:20px ;" href="{{ url_for('main.Home') }}">
        <div style="position: relative;margin-left: 6px; padding-top:6px;" class="cancel">cancel</div>
    </a>
</form>

<form action="">
        
</form>

{% endblock %}